.jumbotron {
    height: 20vh;
}


.button1 {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.footer{
    position: relative;
    padding-top: 1%;
    height: 5vh;
    float: right;
    
}